<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']">
    <div class="text-success cursor-pointer"><i class="fa fa-lock"></i> AuthApp</div>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home <i class="fa fa-home fa-sm"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['precios']">Precios <i class="fa fa-credit-card fa-sm"></i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="auth.isAuthenticated()" [routerLink]="['protegida']">Protegia <i class="fa fa-user fa-sm"></i></a>
      </li>
    </ul>
    <span class="navbar-text cursor-pointer cursor-pointer-access"
    *ngIf="!auth.isAuthenticated()" (click)="login()">Inicio de sesión <i class="fa fa-sign-in-alt fa-sm"></i></span>

    <span class="navbar-text cursor-pointer cursor-pointer-access"
    *ngIf="auth.isAuthenticated()" (click)="logout()">Salir <i class="fa fa-sign-out-alt fa-sm"></i></span>

  </div>
</nav>
